@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

.chat-contents::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
  }
  
  .chat-contents::-webkit-scrollbar-track {
    background-color: #fbfbfb;
  }
  
  .chat-contents::-webkit-scrollbar-thumb {
    background-color: rgb(239, 239, 244);    /* color of the scroll thumb */
  }


 
/* Animation for the gradient background */
@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}


:root {

    --dream-green: #4ad295;
    --dream-blue: #4a90e2;
    --dream-red: #e24a4a;
    --dream-yellow: #e2e24a;
    --dream-orange: #e2a24a;
    --dream-purple: #a24ae2;
    --dream-white: #f9f9f9;
    --text-color: #333;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Exo 2", serif;
    color: var(--text-color);
}

#chat-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(120deg, var(--dream-green), var(--dream-purple), var(--dream-green));
    background-size: 400% 400%; /* Makes the gradient large enough to animate */
    animation: gradientAnimation 10s ease infinite; /* Animates the gradient */
    box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.9) 0px 0px 0px 1px;

}



.message-content, .user-messages  {
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 20%;
    margin: 15px;
    padding: 8px;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px;
    background-color: rgb(243, 240, 240);
}

.user-messages {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    justify-self: end;
    width: 30%;
    box-shadow: none;
    background-color: var(--dream-white);

}


.btn-option {

    padding: 8px;
    border-radius: 6px;
    border: 3px solid #ccc;
    outline: none;
    transition: 0.3s;
    cursor: pointer;
    font-weight: 600;
    width: 300px;
    opacity: 0.6;

}

.btn-option:hover {

    background-color: rgb(248, 246, 246);
    border: 3px solid var(--dream-green);
    background-color: #1b965f;
    color: var(--dream-white);
    opacity: 1;


}

.success {

    background-color: var(--dream-green);
    color: white;
    border: 2px solid var(--dream-green);
    opacity: 1;
}

.danger {

    background-color: var(--dream-red);
    color: white;
    border: 2px solid var(--dream-red);
    opacity: 1;
}


.chat-contents {

    display: flex;
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    overflow-y: auto;
    border-radius: 8px;
    background-color: var(--dream-white);
}

.spacing {

    width: 100%;
    height: 2vh;
}

.chat-messages {

    width: 100%;
    height: 90%;
}

.bot-image {

    width: 40px;
    height: 40px;
    border-radius: 8px;
}

.chat-form {

    padding: 16px;
    width: 100%;

}

#chat-form-entry {

    padding: 8px;
    width: 80%;
    border-radius: 6px;
    border: 2px solid #ccc;
    outline: none;
    transition: 0.3s;
}

#chat-form-entry:active, #chat-form-entry:focus {

    border: 2px solid var(--dream-green);
}

#chat-form-button {
    
    padding: 8px;
    width: 5%;
    border-radius: 6px;
    border: 2px solid var(--dream-green);
    background-color: var(--dream-green);
    color: white;
    outline: none;
    transition: 0.3s;
    cursor: pointer;
    font-weight: 600;
    ;
}

#chat-form-button:hover {

    background-color: rgb(248, 246, 246);
    color: var(--text-color);

}

#btn-result {

    width: 600px;
    margin-top: 10px;
    padding: 12px;
    border-radius: 8px;
    border: 3px solid var(--dream-green);
    background-color: var(--dream-green);
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

#btn-result:hover {

    background-color: rgb(248, 246, 246);
    border: 3px solid var(--dream-green);
    color: var(--dream-green);
}

#swal2-html-container {

    overflow: hidden;
}